<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>SeeNav</string>
	<key>CFBundleIdentifier</key>
	<string>com.wetterek.seek</string>
	<key>CFBundleVersion</key>
	<string>13</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>SeeNav</string>
	<key>CFBundleShortVersionString</key>
	<string>13</string>
	<key>NSCameraUsageDescription</key>
	<string>To display the direction of places in the camera</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To search for places near you. To calculate which direction places are</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
